.layout {
    padding: 3rem 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

@media (max-width: 480px) {
    .layout {
        padding: 2rem 0;
    }
}