.repo__lang {
    display: flex;
    align-items: center;
}
.lang__color {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.lang__name {
    font-weight: 500;
    font-size: 1rem;
}